@import url('https://font.googleapis.com/css?family=Lato|Prata&display=swap');

body{
    margin: 0;
    background: rgb(15, 15, 15);
    color: wheat;
    text-align: center;

    padding: 0;
    
    font-family: sans-serif;
}